 
	
<div id="particles-js">
  <div class="header">
      <h1>
       <span class="site-title">{{site.username}}</span>
        
      </h1>
       

      <div class="header-links">
		  <h1>
			<span class="site-description">{{site.user_title}}</span> 
		  </h1>
		  <a href="#" class="btn btn btn-primary">
			<i class="fa fa-download"></i>
		  </a>
      </div>
	  <a href="#about" class="btn btn-circle page-scroll">
		<i class="fa fa-angle-double-down animated"></i>  Download CV
	  </a>
  </div>
 

 
 
</div>
