 
	
<div id="particles-js">
  <div class="header">
      <h1>
       
        
      </h1>
       

      <div class="header-links">
	  
		
      </div>
  </div>
  
 
 
 


<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"> <span class="site-title">{{site.username}}</span></h1>
					</div>
					<div class="col-md-8 col-md-offset-2">

                        <p class="intro-text"><span class="site-description">{{site.user_title}}</span> {{ content }}</p>
                        
					   <a href="#about" class="btn">More</a>
					   
					   <a href="#{{ title }}" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</header>
</div>
